body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="number"],
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type="number"] {
    width: 50px;
}

button:hover {
    background-color: #0056b3;
}

#numerosSorteados,
#infoPix {
    font-size: 18px;
    margin-top: 20px;
}

#tempoRestante {
    font-size: 16px;
    margin-top: 20px;
}

#confirmarPagamento {
    margin-top: 20px;
}

#qrCode {
    margin-top: 20px;
}

#imagemCivic {
    max-width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#descricaoImagem {
    font-size: 16px;
    color: #333;
    margin-top: 20px;
    text-align: justify;
    padding: 0 20px;
}

#tituloImagem {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}